// Navigation Styles here
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 3%;
    border-bottom: 2px dashed lightgrey;
    h1{
        margin-right: 30%;
        margin-left: 10%;
    }
    a{
        font-size: 1.7rem;
    }
}